@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}
footer{
  position: relative;
  bottom: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p{
  line-height: 28px;
  margin-bottom: 25px;
}

footer .centered{
  text-align: center;
  margin: 0;
}
.centered{
  text-align: center;
}
a{
  color: #f85c37;
}

a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar{
  font-weight: 800;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse{
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a{
  background-color: grey;
}

.navbar-inverse .navbar-brand{
  color: #999;
  font-weight: bolder;
  font-size: 22px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item{
  padding: 0;
  font-family: "Relaway";
  font-size: 16px;
  color: #2d2d2d;
}

.dropdown-item:hover{
  background-color: #2d2d2d;
  color: white;
}

.dropdown-menu > ul{
  font-size: 24px;;
}
.dropdown-menu > ul > li{
    list-style-type: none;
}
.footer {
  margin-bottom: 0;
    padding-top: 15px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #2d2d2d;
   }
.news:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #DCDCDC;
  color: black;
}
.head-border{
  border: 1px solid #2d2d2d;
  background: #2d2d2d;
  color: white;
}
.news:hover > h2{
  color: black;
}
.news{
  transition: 0.5s;
}

.news{
  padding-top: 10px;
}
.nav-item:hover{
  background: white;
}
.nav-item:hover .nav-link:hover{
  color: black;
}
.nav-item{
  transition: all 1s;
}

#headerwarp{
  background: url(../images/head-background.jpeg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 300px;
  width: 100%;

  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwarp h1{
  margin-top: 90px;
  font-weight: 600;
  letter-spacing: 3px;
}

.map{
  width: 86%;
  min-height: 400px;
  margin-left: 7%;
  margin-right: 7%;
}
.btn-add button{
  width: 100%;
}
.admin{
  margin-top: 10px;
}

.images{
  margin-top: 10px;
  width: 100%;
  height: 300px;
}
.admin-text{
  margin-top: 10px;
  height: 300px;
}
.admin-button{
  margin-top: 10px;
  float: right;
}
.contacts{
  margin-top: 12px;
}
.feedback{
  width: 100%;
  min-height: 200px;
}
.table-head{
  padding: 0;
}
